body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  text-decoration: none;
}
p {
  margin: 0;
  font-size: 20px;
  line-height: 1.5;
}
h1 {
  margin: 0;
  font-weight: bold;
}

h2 {
  margin: 0;
  font-size: 64px;
  text-transform: uppercase;
  color: #c6c6c6;
  text-align: right;
}

h3 {
  margin: 0;
  font-weight: bold;
}

.menu {
  display: flex;
  font-weight: 600;
  flex-wrap: wrap;
  gap: 30px;
  justify-items: center;
}

.menu a {
  text-decoration: none;
  background: #fff;
  border-radius: 5px;
  padding: 20px 40px; /* vertical, horizontal */
  color: #000;
  text-transform: uppercase;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.intro {
  background: #fff;
  padding: 40px;
  text-align: right;
  position: relative; /*para o "detail" funcionar dentro da intro sendo de position:absolute*/
  display: grid;
  align-content: center;
  gap: 30px;
  justify-items: end;
}

.detail {
  background: #ee2211;
  width: 50px;
  height: 4px;
  display: inline-block;
  position: absolute;
  top: 20px;
  right: -25px;
}

.btn {
  background: #ee2211;
  padding: 20px 40px;
  border-radius: 5px;
}
.btn a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
.sub-title {
  padding: 40px;
  justify-items: center;
  align-self: center;
}

.vantagens {
  background: #fff;
  padding: 40px;
}

.itens-vertical {
  display: grid;
  grid-template-columns: auto;
  gap: 10px 20px;
}

.itens-vertical p {
  grid-column: 2;
  margin-bottom: 20px;
}

.footer {
  background: #fff;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.footer p {
  text-align: center;
}
